.comments-container {
  min-height: 100vh;
  padding: 30px;
}
.comment-heading {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
}
.something-text {
  color: #1e293b;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Roboto';
}

.input-form {
  display: flex;
  flex-direction: column;
}
.form-image {
  display: flex;
}
.input-name {
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
}
.text-area {
  height: 140px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  font-size: 20px;
}
.add-button {
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
  height: 38px;
  width: 140px;
  color: #dee0e3;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
.line {
  border: 1px solid #cbd2d9;
}
.total-comments {
  background-color: #0284c7;
  color: #dee0e3;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
}
.comments-container {
  list-style-type: none;
}
.name-content {
  display: flex;
}
